body{background-color: #251B5F}

table {font-size: 15px; 
  margin-left: auto; 
  margin-right:auto; 
  display:block; 
  height: 300px; 
  width: 450px; 
  overflow-y: scroll; 
  border: 3px solid #795092; 
  border-collapse: collapse; 
  background-color: white; 
  color: #9281B4;
  margin-bottom: 90px; }

table td { border-left: 1px solid #000; }
table td:first-child { border-left: none; }
table tr { border-bottom: 1px solid #000; }
table th { border-top: 1px solid #000; }

.headingProfile{
  /*text-align: center;
  */padding-left: 70px;
  margin-top: 60px;
  font-size: 35px;
  color: white;
  /*color: #795092;*/
}

.link{
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
  color: #795092;
}

.historyTable{
  margin-top: 50px;
  font-size: 15px;
    /*color:white;*/
/*  color: #795092;
*/  
    color: #30195C;
    text-decoration: underline; 
}

.dataHeading{
  font-size: 23px;
  /*color: #795092;*/
  color: #30195C;
  text-decoration: underline;  
}

.h6Heading{ 
  margin-bottom: 0px;
  font-size: 25px;
  /*color: #795092;*/
  color: #30195C;
  /*text-decoration: underline;  */
}

.logActions{
  text-align: left;
  color: #30195C;
}