div { height: 100% }
body{background-image: linear-gradient(89deg, #9890e3 0%, #b1f4cf 100%);}
.register {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 400px;
  margin: 145px auto 0;
  width: 298px;
}
.heading {
  color: #0B5B82;
  font-family: 'Indie Flower', cursive;
}


input[type="password"], input[type="text"] {
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 30px 0 29px;
  padding-left: 37px;
  transition: box-shadow 0.3s;
  width: 240px;
  font-family: 'Indie Flower', cursive;
}
input[type="password"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

input[type="submit"] {
  width:240px;
  height:35px;
  display:block;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #5FA0C0;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  font-family: 'Indie Flower', cursive;
}

input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

